<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="LocatorContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress; Initial Catalog=MemoryDB;Trusted_Connection=True;"/>-->
    <add name="LocatorContext"
             providerName="System.Data.SqlClient"
             connectionString="Server=811ea990-de52-40b5-99e3-a217009d91ec.sqlserver.sequelizer.com;Database=db811ea990de5240b599e3a217009d91ec;User ID=gkikvcjwqacdamtn;Password=aGokPqpbS7bNn2Dr2i7ggcpzb3JfqCvhPrg84XMaitP2fQPUEVp2FNx7rWiVNiSo;" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AppleCertPath" value="~/App_Data/iphone_dev.p12" />
    <add key="AppleCertPassword" value="qwerty1" />
    <add key="AndroidApiKey" value="AIzaSyDYqVWDsFc-oL7zewCQgaQhaRruBgu7jlk" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LocatorService.LocatorService" behaviorConfiguration="serviceBehavior">
        <endpoint name="RESTEndPoint" contract="LocatorService.ILocatorService" binding="webHttpBinding" bindingConfiguration="httpBinding" address="" behaviorConfiguration="restBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="httpBinding" maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760"
                              maxArrayLength="10485760"
                              maxBytesPerRead="10485760"
                              maxNameTableCharCount="10485760" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>