<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="LocatorContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress; Initial Catalog=LocatorDB;User Id=igor;Password=skovor@88"/>
    <!--<add name="CommitDogContext"
             providerName="System.Data.SqlClient"
             connectionString="Server=tcp:ioqwq9ezvt.database.windows.net,1433;Database=CommitDogDB;User ID=igor@ioqwq9ezvt;Password=Skovor@88;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
  </connectionStrings>
</configuration>